println("Testing pause")
x = pause()
println(x.raw, " ", x.a, "", x.power)
println("Testing masked pause")
x = pause(1 << 3)
println(x.raw, " ", x.a)
color(0xFF0000)
println("This text should be red!")
color(0x00FF00)
println("and this green!")

COLOR_RED = 0xFF0000
COLOR_BLUE = 0x0000FF

menu(["a", "b", "c"], 1, [COLOR_BLUE, COLOR_RED | 0x1000000, COLOR_BLUE]).print()

exit()