println("Testing pause")
x = pause()
println(x.raw, " ", x.a, "", x.power)
println("Testing masked pause")
x = pausemask(1 << 3)
println(x.raw, " ", x.a)
color(0xFF0000)
println("This text should be red!")
color(0x00FF00)
println("and this green!")
exit()