#REQUIRE VER 3.0.6
#REQUIRE MINERVA
#REQUIRE KEYS

a="Hello world!\n"
a.print()



printpos(20, 30)
setpixels(0, 0, 1279, 100, 0xFF0000)
println("sup")

#a = s.readdir("/")
pause()
exit()

println(a.result)
println(a.files.len())
println(a.folders.len())
println(a.fileSizes.len())



a.files.foreach("b") {
	println(b)
}

pause()