#REQUIRE VER 3.0.6
#REQUIRE MINERVA
#REQUIRE KEYS

a="Hello world!\n"
a.print()



mountsys("SYSTEM")
s = readsave("sd:/8000000000000120")
f = s.read("/meta/imkvdb.arc")
println(f.len())
println(f.slice(1,1).project()[0])
s.write("/meta/imkvdb.arc", ["BYTE[]", 1,2]).print()
s.commit().print()

#a = s.readdir("/")
pause()
exit()

println(a.result)
println(a.files.len())
println(a.folders.len())
println(a.fileSizes.len())

a.files.foreach("b") {
	println(b)
}

pause()